* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* !!!!!!!!! HEADER !!!!!!!!!*/
.header {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    height: 55px;
}

.nav {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    color: #ffffff;
}

.logo {
    width: 24px;
    height: 24px;
    margin-right: 7px;
}

.logo-p {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
}

/* !!!!!!!!! CARDS !!!!!!!!!*/
.place-content {
    display: flex;
}

.cards {
    max-width: 470px;
    max-height: 200px;
    margin: 38px 40px;
    display: flex;
}

.cards-content {
    display: flex;
    flex-direction: column;
    margin-left: 19px;
}

.place-photo {
    width: 125px;
    min-height: 168px;
    border-radius: 5px;
}

.location {
    display: flex;
    margin-top: 19px;
}

.place-location {
    color: #2B283A;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.17rem;
    text-transform: uppercase;
    margin-right: 12px;
}

.place-location i {
    color: #F55A5A;
    margin-right: 4px;
}

.place-map a{
    position: relative;
    font-style: normal;
    font-size: 11px;
    line-height: 12px;
    text-decoration-line: underline;
    color: #2B283A;
    
}
.place-map a::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}
  
.place-map a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
.place-map a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(0, 89%, 66%);
    z-index: -1;
    transition: transform .5s ease;
}

.place-name {
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 10px 0px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.place-date {
    font-weight: 700;
    font-size: 11px;
    line-height: 12px;
    margin-bottom: 9px;
}

.place-desc {
    font-size: 11px;
    line-height: 15px;
    font-style: normal;
    overflow: auto;
}